<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.mapper.SearchMapper">

    <select id="searchInfoByValue" resultType="com.school.entity.SearchInfo">
        SELECT * FROM (
                          SELECT id, title, img, pub_date, content, place, phone, state, stick, lostfoundtype_id, user_id, 'lost' AS type
                          FROM lost
                          UNION ALL
                          SELECT id, title, img, pub_date, content, place, phone, state, stick, lostfoundtype_id, user_id, 'found' AS type
                          FROM found
                      ) AS t WHERE t.title LIKE #{value} OR t.place LIKE #{value} OR t.state LIKE #{value}
    </select>
</mapper>
